@import '@/profile/variables.scss';

.about {
  &__header-info {
    display: flex;
    color: rgba(34, 53, 111, 1);
    margin-top: 150px;
    background-color: white;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__header-name {
    padding-left: 5vw;
    position: absolute;
    @media (max-width: 900px) {
      position: relative;
      margin: 0 auto;
      padding-left: 0;
    }
  }
  &__header-desc {
    display: flex;
    width: 500px;
    line-height: 34px;
    letter-spacing: 0.005em;
    margin: 0 auto;
    @media (max-width: 600px) {
      width: 80%;
      text-align: center;
    }
  }
  &__header-text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 76px;
    color: rgba(34, 53, 111, 0.5);
    letter-spacing: 0.06em;
    margin-bottom: 24px;
  }
  &__header-cards {
    display: flex;
    margin-bottom: 120px;
    @media (max-width: 950px) {
      flex-wrap: wrap;
    }
  }
  &__header-card {
    width: 100%;
    height: 360px;
    color: white;
    &:nth-child(1) {
      background-color: $pink;
    }
    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-color: $blue;
    }
    &:nth-child(4) {
      background-color: $dark-blue;
    }
  }
  &__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__header-list-line {
    width: 80%;
    border-bottom: 2px solid white;
    margin: 0 auto;
    padding-top: 72px;
  }
  &__header-list-li {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: $big-font;
    margin: 0 auto;
    padding-top: 30px;
    img {
      width: 9px;
      height: 9px;
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  &__cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
  &__card {
    width: 33.33%;
    height: 480px;
    @media (max-width: 720px) {
      width: 100%;
    }
    &:nth-child(1) {
      background-color: $pink;
    }
    &:nth-child(2) {
      background-color: $green;
    }
    &:nth-child(3) {
      background-image: url('~@/assets/straw.png');
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    &:nth-child(4) {
      background-color: $dark-blue;
    }
    &:nth-child(5) {
      background-color: $deep-blue;
    }
    &:nth-child(6) {
      background-color: $purple;
    }
  }
  &__card-wrap {
    display: flex;
    justify-content: flex-start;
    border-top: 2px solid white;
    width: 80%;
    align-items: center;
    margin: 72px auto;
    p {
      color: white;
      font-size: 32px;
      margin-top: 10px;
      width: 210px;
    }
    &:first-child::before {
      content: '\2022';
      color: rgba(233, 183, 48, 1);
      margin-right: 10px;
      font-size: 40px;
      display: flex;
      align-self: flex-start;
    }
  }
  &__card-list-li {
    padding-left: 34px;
    font-size: $big-font;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    img {
      width: 9px;
      height: 9px;
      margin-top: 20px;
      margin-right: 20px;
    }
    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }
  &__card-list {
    width: 340px;
    margin: 0 auto;
    @media (max-width: 1000px) {
      width: 100%;
      margin: 0 auto;
    }
  }
  &__descs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    background-color: white;
    @media (max-width: 700px) {
      flex-direction: column;
      align-content: center;
    }
  }
  &__desc-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 240px;
    margin-left: 4.7vw;
    margin-right: 8.4vw;
    margin-bottom: 40px;
    color: rgba(34, 53, 111, 1);
    @media (max-width: 700px) {
      margin-bottom: 80px;
      width: 60%;
      display: flex;
      margin: 0 auto;
    }
  }
  &__desc-title {
    display: flex;
    margin-top: 57px;
    margin-bottom: 28px;
    font-size: 28px;
    width: 140%;
  }
  &__desc-text {
    display: flex;
    width: 120%;
    margin-bottom: 72px;

    font-size: $small-font;
  }
  &__fact {
    margin-top: 40px;
    display: flex;
    background-color: white;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  &__fact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(34, 53, 111, 1);
    margin-bottom: 30px;
    margin-left: 8vw;
  }
  &__fact-img {
    @media (max-width: 920px) {
      margin: 0 auto;
    }
    img {
      @media (max-width: 500px) {
        width: 100%;
        height: 500px;
      }
    }
  }
  &__fact-header {
    padding-left: 100px;
    font-size: $small-font;
    padding-bottom: 70px;
    @media (max-width: 800px) {
      padding-left: 0;
      margin-top: 50px;
    }
  }
  &__fact-body {
    width: 70%;
    padding-left: 100px;
    font-size: $big-font;
    span {
      color: #62d0df;
    }
    @media (max-width: 1050px) {
      padding-left: 0;
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
  &__fact-footer {
    padding-left: 100px;
    font-size: $small-font;
    color: rgba(250, 182, 62, 1);
    @media (max-width: 800px) {
      padding-left: 0;
    }
  }
}
