@import '@/profile/variables.scss';

ul {
  padding-left: 0;
}
.straw-img {
  background: url('~@/assets/straw.png');
}
img {
  padding: 0;
  margin: 0;
}

.about {
  &__header-info {
    display: flex;
    color: rgba(34, 53, 111, 1);
    margin-top: 150px;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__header-name {
    padding-left: 100px;
    position: absolute;
    @media (max-width: 900px) {
      position: relative;
      margin: 0 auto;
      padding-left: 0;
    }
  }
  &__header-desc {
    display: flex;
    width: 500px;
    line-height: 34px;
    letter-spacing: 0.005em;
    margin: 0 auto;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  &__header-text {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 76px;
    color: rgba(34, 53, 111, 0.5);
    letter-spacing: 0.06em;
    margin-bottom: 24px;
  }
  &__header-cards {
    display: flex;
    margin-bottom: 120px;
    @media (max-width: 950px) {
      flex-wrap: wrap;
    }
  }
  &__header-card {
    width: 100%;
    height: 250px;
    color: white;
  }
  &__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__header-list-li--empty {
    width: 80%;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }
  &__header-list-li {
    width: 230px;
    display: flex;
    justify-content: center;
    font-size: $big-font;
    margin: 0 auto;
  }
  &__cards-first-row {
    display: flex;
    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
  }
  &__card {
    width: 100%;
    height: 420px;
  }
  &__card-list-li--empty {
    padding-top: 80px;
    width: 80%;
    border-bottom: 2px solid white;
    margin: 0 auto;
  }
  &__card-list-li {
    padding-left: 50px;
    font-size: $big-font;
    color: white;
    width: 157px;
  }
  &__cards-second-row {
    display: flex;
    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
  }
  &__descs-first-row {
    display: flex;
    margin-top: 77px;
    @media (max-width: 920px) {
      flex-wrap: wrap;
    }
  }
  &__descs-second-row {
    display: flex;
    @media (max-width: 920px) {
      flex-wrap: wrap;
    }
  }
  &__desc-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 240px;
    color: rgba(34, 53, 111, 1);
  }
  &__desc-title {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
    font-size: 28px;
  }
  &__desc-text {
    display: flex;
    width: 300px;
    margin: 0 auto;
    font-size: $small-font;
  }
  &__fact {
    margin-top: 40px;
    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  &__fact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(34, 53, 111, 1);
    margin-bottom: 30px;
  }
  &__fact-img {
    @media (max-width: 920px) {
      margin: 0 auto;
    }
    img {
      @media (max-width: 500px) {
        width: 100%;
        height: 500px;
      }
    }
  }
  &__fact-header {
    padding-left: 100px;
    font-size: $small-font;
    padding-bottom: 70px;
    @media (max-width: 800px) {
      padding-left: 0;
      margin-top: 50px;
    }
  }
  &__fact-body {
    width: 70%;
    padding-left: 100px;
    font-size: $big-font;
    span {
      color: #62d0df;
    }
    @media (max-width: 800px) {
      padding-left: 0;
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
  &__fact-footer {
    padding-left: 100px;
    font-size: $small-font;
    color: rgba(250, 182, 62, 1);
    @media (max-width: 800px) {
      padding-left: 0;
    }
  }
}
