@import '@/profile/variables.scss';
* {
  font-family: 'Noto Sans KR', sans-serif;
}
html,
body {
  background-color: #f4f9e2;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}

.header {
  background-color: #f4f9e2;
  &__nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
    }
  }
  &__nav-name {
    display: flex;
    align-items: center;
    color: #62d0df;
    font-size: $medium-font;
  }
  &__nav-list {
    display: flex;
    color: #22356f;
  }
  &__nav-list-li {
    padding: 0 20px;
    font-size: $small-font;
    @media (max-width: 450px) {
      padding: 0 4%;
    }
  }
  &__nav-list-li--active {
    color: red;
  }
  &__nav-btn {
    background-color: #62d0df;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: $small-font;
    z-index: 6;
    @media (max-width: 650px) {
      height: 40px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 760px) {
      display: inline;
    }
  }
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8.5%;
    width: 470px;
    @media (max-width: 1000px) {
      padding-left: 0;
    }
    @media (max-width: 760px) {
      width: 100%;
    }
  }
  &__desc-name {
    color: #62d0df;
    font-size: $medium-font;
    @media (max-width: 450px) {
      margin-bottom: 10px;
    }
  }
  &__desc-title {
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356f;
    @media (max-width: 450px) {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 10px;
    }
  }
  &__desc-content {
    font-size: $medium-font;
    color: #22356f;
    line-height: 42px;
    @media (max-width: 450px) {
      line-height: 33px;
      margin-bottom: 10px;
    }
  }
  &__desc-recs {
    display: flex;
    @media (max-width: 450px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  &__desc-recs-active {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9b640;
    color: white;
    margin-right: 38px;
    width: 150px;
    height: 50px;
  }
  &__desc-recs-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9b640;
    width: 150px;
    height: 50px;
  }
  &__img {
    display: flex;
    z-index: 10;
    @media (max-width: 760px) {
      display: flex;
      justify-content: end;
    }
    img {
      width: 650px;
      @media (max-width: 1100px) {
        width: 400px;
      }
      @media (max-width: 370px) {
        width: 100%;
      }
    }
  }
  &__img--empty {
    position: absolute;
    right: 0;
    top: 0;
    width: 650px;
    z-index: 5;
    img {
      @media (max-width: 1100px) {
        width: 400px;
        position: absolute;
        right: 0;
        top: 0;
      }
      @media (max-width: 850px) {
        display: none;
      }
    }
  }
  &__suggest {
    display: flex;
    justify-content: space-between;
    height: 604px;
    background-color: rgba(98, 208, 223, 1);
    color: white;
    @media (max-width: 900px) {
      margin-top: 20px;
    }
  }
  &__suggest-content {
    width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  &__suggest-title {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 27px;
    @media (max-width: 1000px) {
      font-size: 18px;
    }
    @media (max-width: 500px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &__suggest-text {
    font-size: 24px;
    line-height: 35px;
    @media (max-width: 1000px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__suggest-img {
    @media (max-width: 1000px) {
      width: 200px;
    }
  }
}
