$big-font: 32px;
$medium-font: 24px;
$small-font: 16px;

.pink {
  background-color: #ffe2de;
}
.green {
  background-color: #c4e769;
}
.blue {
  background-color: #62d0df;
}
.dark-blue {
  background-color: #0052c1;
}
.deep-blue {
  background-color: #22356f;
}
.gray {
  background-color: #dee1ff;
}
.purple {
  background-color: #8f00ff;
}
